html, body {
    height: 100%;
}
:root {
    --dark: #2B3541;
    --light: #F3F3F3;
    --accent: #FBF138;
    --accent-light: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);

    --montserrat: "Montserrat", sans-serif;

    --tr: 0.3s;
}
html {
    font-family: var(--montserrat);
    color: var(--dark);
}
.container {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Header */

header {
    margin-top: 50px;
    margin-bottom: 27px;
}
.header-wrapper {
    display: flex;
    gap: 92px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 97px;
    height: 30px;
}
.header-nav {
    flex-grow: 1;
    display: flex;
    gap: 54px;
}
.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
}
.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: var(--tr);
}
.nav-link:hover::after {
    background-color: var(--dark);
}
.mail {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
    position: relative;
    z-index: 1;
}
.mail::before {
    content: '';
    display: block;
    background-color: var(--accent);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -13px;
    top: 0;
    z-index: -1;
}

/* Hero */

.container.hero {
    height: calc(100vh - 107px);
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
} 

.hero-bg {
    flex-basis: calc(40% - 20px);
    background: linear-gradient(90deg, var(--accent) 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.2;
    height: 100%;
}
.hero-text {
    flex-basis: 60%;
}
.hero-title {
    font-weight: 700;
    font-size: clamp(26px, 4.5vw, 48px);
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 43px;
}
.hero-description {
    font-weight: 400;
    font-size: clamp(26px, 4vw, 40px);
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 0;
}
.hero-wrapper {
    margin-left: 92px;
    margin-top: 20px;
}
.hero-wrapper > p {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 297px;
    margin-bottom: 35px;
}
button {
    padding: 20px 30px;
    background-color: var(--accent);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    transition: var(--tr);
    max-height: 65px;
}
button:hover {
    color: var(--accent);
    background-color: var(--dark);
    cursor: pointer;
}
.hero-girl {
    display: none;
    position: absolute;
    right: -200px;
    bottom: 0;
    max-height: calc(100vh - 107px);
}
.hero-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Main */

main {
    margin-top: 160px;
    margin-bottom: 162px;
}
.schedule-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.schedule-title {
    flex-basis: 356px;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}
.schedule-date {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
}
.schedule-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 93px 281px;
    gap: 20px 20px;
    grid-template-areas: "body bottle dumbbell"
                         "jump bottle weight"
                         "jump heart weight";
}
.schedule-item:first-child {
    grid-area: body;
}
.schedule-item:first-child > .item-img {
    max-height: 65px;
}
.schedule-item:nth-of-type(2) {
    grid-area: bottle;
}
.schedule-item:nth-of-type(2) > .item-img {
    max-height: 85px;
}
.schedule-item:nth-of-type(3) {
    grid-area: dumbbell;
}
.schedule-item:nth-of-type(3) > .item-img {
    max-height: 50px;
}
.schedule-item:nth-of-type(4) {
    grid-area: jump;
    background: linear-gradient(180deg, var(--accent) 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0 13px 30px 0 rgba(186, 180, 69, 0.2);
    border: none;
}
.schedule-item:nth-of-type(4) > .item-img {
    max-height: 107px;
}
.schedule-item:nth-of-type(5) {
    grid-area: heart;
}
.schedule-item:nth-of-type(5) > .item-img {
    max-height: 61px;
}
.schedule-item:last-child {
    grid-area: weight;
}
.schedule-item:last-child > .item-img {
    max-height: 66px;
}
.schedule-item {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid var(--dark);
}
.item-time {
    align-self: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
}
.img-wrapper {
    flex-grow: 1;
    position: relative;
}
.item-img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.item-name {
    align-self: flex-start;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
}

/* Section */

.email {
    background-color: var(--light);
    height: 348px;
}
.email > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.email-title {
    margin-top: 80px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.email-title::before {
    content: '';
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background-color: var(--accent);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
    position: absolute;
    top: -21px;
    left: -35px;
    z-index: -1;
}
.email-wrapper {
    display: flex;
    gap: 20px;
}
label {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    opacity: 0.5;
}
label > a {
    color: var(--dark);
}
.email-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form > div > input {
    padding: 19px;
    border: none;
    flex-grow: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 372px;
    box-sizing: border-box;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт активен */
 .checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
 }
 /* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
 }
 .radio:checked + label::before{
    border-radius: 100%;
 }
.min-btn {
    width: 225px;
 }

 /* Aside */

aside {
    margin-top: 158px;
    margin-bottom: 170px;
}
.about {
    display: flex;
    gap: 77px;
    margin-bottom: 80px;
}
.about-wrapper {
    flex-basis: 483px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.about-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}
.about-description {
    width: 483px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 15px;
}
.about > img {
    max-width: 581px;
    max-height: 336px;
}
.advantages {
    display: flex;
    justify-content: space-between;
    gap: 67px;
}
.advantages h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
}
.advantages p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}

/* Footer */

footer {
    background-color: var(--light);
    padding-top: 53px;
    padding-bottom: 21px;
}
.footer-nav {
    font-size: 14px;
}
footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.3;
}
footer p > a {
    color: var(--dark);
}
.copy {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
}